*{
	margin:0;
	padding:0;
}
body,h1,h2,h3,h4,h5,h6 p,ul,ol,dl,i,em,b,strong,form{
	font-size:12px;
	font-family:'Mircrosoft YaHei'
}
ul,ol,dl{
	list-style:none;
}
b,strong{
	font-weight:normal;
	}
a{
	text-decoration:none;
}
input,textarea{
	outline:none;
	resize:none;
}
.clearFix:after{
	display:block;
	content:'';
	clear:both;
	zoom:1;
}
.fl{
	
	float:left;
}
.fr{
	
	float:right;
}
